/*
    Dolly Sadowski
    A01025256

    Final Project .SCSS for our prototype pages
*/

@import "cssreset.css";

$bcit_blue:#25487A;
$white: white;
$bcit_gray:#B3B3B3;

body {

    .content {
        .nav2 {
            
        }
    }
}